In [1]:
sc

In [2]:
spark

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
place_schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("placename", StringType(), True),
    StructField("place_location", StringType(), True),
    StructField("placetags", StringType(), True)])

 

place_df = spark.read.csv("/home/jaehun/real_place_data.csv",header=False,schema=place_schema)

In [4]:
place_df.show()

+---+--------------------+------------------------------+---------------------------------+
| id|           placename|                place_location|                        placetags|
+---+--------------------+------------------------------+---------------------------------+
|  1|            고른햇살|   서울 성북구 개운사길 27 1층|#먹어야산다#분식#정대후문#포장...|
|  2|            영철버거|   서울 성북구 안암로9가길 100|#먹어야산다#이공계#경양식#버거...|
|  3|            어흥식당|   서울 성북구 고려대로27길 40|#먹어야산다#양식#스테이크#정대...|
|  4|            특별식당|    서울 동대문구 제기로2길 15| #먹어야산다#일식#돈부리#카레#...|
|  5|          언니네반점|   서울 성북구 고려대로27길 42|#먹어야산다#중식#정대후문#사천...|
|  6|          곰이네국밥|      서울 동대문구 제기로 2-1|#먹어야산다#한식#국밥#고대사거...|
|  7|  비나 레스토랑 정문|    서울 동대문구 안암로24길 4|#먹어야산다#동남아#커리#정문앞...|
|  8|        돈까스하우스|   서울 성북구 고려대로27길 15|#먹어야산다#경양식#돈까스#정대...|
|  9|  히포크라테스 스프 |서울 성북구 고려대로 28길 12-3|#먹어야산다#베이커리#참살이길#...|
| 10|          미스터국밥|      서울 성북구 고려대로 102| #먹어야산다#한식#국밥#미국#참...|
| 11|시그니처 키친 (뚝닭)| 서울 동대문구 제기동 137-7...| #먹어야산다#한식#퓨전#고기#양...|
| 12|              용초수|   서울 성북구 고려대로27길 20|#먹어야산다#중식#사천식#꿔바로...|
| 13|              주유소| 서울 성북구 고려대로27길 24-2|#먹어야산다#경양식#돈까스#생맥...|
| 14|          연어이야기|    서울 동대문구 제기로 53-16|#먹어야산다#제기동#정문앞#고려...|
| 15|       짱가네 돈냉면|       서울 성북구 안암로 73-9|#먹어야산다#냉면#이공계#안암로...|
| 16|          이세돈까스|       서울 성북구 개운사길 32|#먹어야산다#일식#돈까스#정대후...|
| 17|          동우설렁탕|       서울 성북구 개운사길 45|#먹어야산다#한식#설렁탕#정대후...|
| 18|          미스터카츠|     서울 성북구 개운사길 21-3|#먹어야산다#경양식#돈까스#정대...|
| 19|고고인디안쿠진 1호점| 서울시 성북구 안암로 81-4 ...|#먹어야산다#동남아#커리#참살이...|
| 20|        고대맛집ㅋㅋ| 서울 성북구 안암로9가길 80-17|#먹어야산다#분식#안암오거리#이...|
+---+--------------------+------------------------------+---------------------------------+
only showing top 20 rows

In [5]:
cols = ("id", "place_location")
new_place_df = place_df.drop(*cols)

In [6]:
new_place_df.show()

+--------------------+---------------------------------+
|           placename|                        placetags|
+--------------------+---------------------------------+
|            고른햇살|#먹어야산다#분식#정대후문#포장...|
|            영철버거|#먹어야산다#이공계#경양식#버거...|
|            어흥식당|#먹어야산다#양식#스테이크#정대...|
|            특별식당| #먹어야산다#일식#돈부리#카레#...|
|          언니네반점|#먹어야산다#중식#정대후문#사천...|
|          곰이네국밥|#먹어야산다#한식#국밥#고대사거...|
|  비나 레스토랑 정문|#먹어야산다#동남아#커리#정문앞...|
|        돈까스하우스|#먹어야산다#경양식#돈까스#정대...|
|  히포크라테스 스프 |#먹어야산다#베이커리#참살이길#...|
|          미스터국밥| #먹어야산다#한식#국밥#미국#참...|
|시그니처 키친 (뚝닭)| #먹어야산다#한식#퓨전#고기#양...|
|              용초수|#먹어야산다#중식#사천식#꿔바로...|
|              주유소|#먹어야산다#경양식#돈까스#생맥...|
|          연어이야기|#먹어야산다#제기동#정문앞#고려...|
|       짱가네 돈냉면|#먹어야산다#냉면#이공계#안암로...|
|          이세돈까스|#먹어야산다#일식#돈까스#정대후...|
|          동우설렁탕|#먹어야산다#한식#설렁탕#정대후...|
|          미스터카츠|#먹어야산다#경양식#돈까스#정대...|
|고고인디안쿠진 1호점|#먹어야산다#동남아#커리#참살이...|
|        고대맛집ㅋㅋ|#먹어야산다#분식#안암오거리#이...|
+--------------------+---------------------------------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import split 
target_place_df = new_place_df.select("placename", split("placetags", "#"))

In [8]:
target_place_df.show()

+--------------------+------------------------------+
|           placename|           split(placetags, #)|
+--------------------+------------------------------+
|            고른햇살|[, 먹어야산다, 분식, 정대후...|
|            영철버거|[, 먹어야산다, 이공계, 경양...|
|            어흥식당|[, 먹어야산다, 양식, 스테이...|
|            특별식당|[, 먹어야산다, 일식, 돈부리...|
|          언니네반점|[, 먹어야산다, 중식, 정대후...|
|          곰이네국밥| [, 먹어야산다, 한식, 국밥,...|
|  비나 레스토랑 정문|[, 먹어야산다, 동남아, 커리...|
|        돈까스하우스|[, 먹어야산다, 경양식, 돈까...|
|  히포크라테스 스프 |[, 먹어야산다, 베이커리, 참...|
|          미스터국밥| [, 먹어야산다, 한식, 국밥,...|
|시그니처 키친 (뚝닭)| [, 먹어야산다, 한식, 퓨전,...|
|              용초수|[, 먹어야산다, 중식, 사천식...|
|              주유소|[, 먹어야산다, 경양식, 돈까...|
|          연어이야기|[, 먹어야산다, 제기동, 정문...|
|       짱가네 돈냉면|[, 먹어야산다, 냉면, 이공계...|
|          이세돈까스|[, 먹어야산다, 일식, 돈까스...|
|          동우설렁탕|[, 먹어야산다, 한식, 설렁탕...|
|          미스터카츠|[, 먹어야산다, 경양식, 돈까...|
|고고인디안쿠진 1호점|[, 먹어야산다, 동남아, 커리...|
|        고대맛집ㅋㅋ|[, 먹어야산다, 분식, 안암오...|
+--------------------+------------------------------+
only showing top 20 rows

In [10]:
df = spark \
  .readStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "my-kafka-server:port") \
  .option("subscribe", "django-log-test") \
  .load()
ds = df.selectExpr("CAST(value AS STRING)")

In [11]:
df2 = spark \
  .readStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "my-kafka-server:port") \
  .option("subscribe", "django-log-count-test") \
  .load()
ds2 = df2.selectExpr("CAST(value AS STRING)")

In [12]:
df.printSchema()
df2.printSchema()

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

In [13]:
ds.printSchema()
ds2.printSchema()

root
 |-- value: string (nullable = true)

root
 |-- value: string (nullable = true)

In [14]:
schema = StructType().add("username", StringType()).add("action", StringType()).add("placename", StringType())
schema2 = StructType().add("username", StringType()).add("action", StringType()).add("placename", StringType()).add("count", IntegerType())

In [15]:
from pyspark.sql.functions import from_json
import pyspark.sql.functions as F

data = ds.select(from_json("value", schema)).alias("parsed")
data2 = ds2.select(from_json("value", schema2)).alias("parsed2")

data.printSchema()
data2.printSchema()

logdf = data.select("jsontostructs(value).*")
logdf2 = data2.select("jsontostructs(value).*")

logdf.printSchema()
logdf2.printSchema()

logcounts = logdf.groupBy("username", "action", "placename").count()
logcounts_tags = logdf2.join(target_place_df, "placename")

logcounts.printSchema()
logcounts_tags.printSchema()

root
 |-- jsontostructs(value): struct (nullable = true)
 |    |-- username: string (nullable = true)
 |    |-- action: string (nullable = true)
 |    |-- placename: string (nullable = true)

root
 |-- jsontostructs(value): struct (nullable = true)
 |    |-- username: string (nullable = true)
 |    |-- action: string (nullable = true)
 |    |-- placename: string (nullable = true)
 |    |-- count: integer (nullable = true)

root
 |-- username: string (nullable = true)
 |-- action: string (nullable = true)
 |-- placename: string (nullable = true)

root
 |-- username: string (nullable = true)
 |-- action: string (nullable = true)
 |-- placename: string (nullable = true)
 |-- count: integer (nullable = true)

root
 |-- username: string (nullable = true)
 |-- action: string (nullable = true)
 |-- placename: string (nullable = true)
 |-- count: long (nullable = false)

root
 |-- placename: string (nullable = true)
 |-- username: string (nullable = true)
 |-- action: string (nullable = true)
 |-- count: integer (nullable = true)
 |-- split(placetags, #): array (nullable = true)
 |    |-- element: string (containsNull = true)

In [ ]:
from pyspark.sql.functions import to_json
from pyspark.sql.types import IntegerType

logcounts.createOrReplaceTempView('logtable')

logcounts_sql = spark.sql("select (username, action, placename, count) as value from logtable").select(to_json("value").alias("value"))
query1 = logcounts_sql \
        .writeStream \
        .trigger(processingTime='30 seconds') \
        .outputMode("update") \
        .format("kafka") \
        .option("kafka.bootstrap.servers", "my-kafka-server:port") \
        .option("checkpointLocation","pyspark/streaming/checkpointLocation") \
        .option("topic", "django-log-count-test") \
        .start()

query2 = logcounts_tags \
        .writeStream \
        .outputMode("append") \
        .format("org.elasticsearch.spark.sql") \
        .option("checkpointLocation", "pyspark/streaming/checkpointLocation2") \
        .option("es.resource", "django_log_counts_tags_test/user_log_data_test") \
        .option("es.nodes", "my-elasticsearch-server:port") \
        .start()

query1.awaitTermination()
query2.awaitTermination()

##############################################################################################